@import "_media.scss";

* strong {
	font-weight: 900;
}

.hide-phone-lg {
  @media screen and (max-width: 575.98px) {
    display: none !important;
  }
}

.show-phone-lg {
  @media screen and (min-width: 576px) {
    display: none !important;
  }
}

.hide-tablet {
  @media screen and (max-width: 767.98px) {
    display: none !important;
  }
}

.show-tablet {
  @media screen and (min-width: 768px) {
    display: none !important;
  }
}

.nowrap {
  white-space: nowrap;
}

.hide {
  display: none !important;
}

.offset-header {
  padding-top: rem($header-h);

	@include tablets-down() {
		padding-top: rem($header-h-m);
	}
}

.swiper-custom-button {
  width: rem(64);
  height: rem(64);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  outline: none;
  cursor: pointer;

  &-prev {
    background-image: url("../img/icons/prev.svg");
  }

  &-next {
    background-image: url("../img/icons/next.svg");
  }
}