
@font-face {
  font-family: 'TT Hoves';
  src: url('../fonts/TTHoves/TTHoves-Bold.eot');
  src: local('TT Hoves Bold'), local('TTHoves-Bold'),
      url('../fonts/TTHoves/TTHoves-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTHoves/TTHoves-Bold.woff2') format('woff2'),
      url('../fonts/TTHoves/TTHoves-Bold.woff') format('woff'),
      url('../fonts/TTHoves/TTHoves-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'TT Hoves';
  src: url('../fonts/TTHoves/TTHoves-Regular.eot');
  src: local('TT Hoves Regular'), local('TTHoves-Regular'),
      url('../fonts/TTHoves/TTHoves-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTHoves/TTHoves-Regular.woff2') format('woff2'),
      url('../fonts/TTHoves/TTHoves-Regular.woff') format('woff'),
      url('../fonts/TTHoves/TTHoves-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'TT Hoves';
  src: url('../fonts/TTHoves/TTHoves-Medium.eot');
  src: local('TT Hoves Medium'), local('TTHoves-Medium'),
      url('../fonts/TTHoves/TTHoves-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTHoves/TTHoves-Medium.woff2') format('woff2'),
      url('../fonts/TTHoves/TTHoves-Medium.woff') format('woff'),
      url('../fonts/TTHoves/TTHoves-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}



