* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

@media screen and (max-width: 1439.98px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 1199.98px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 991.98px) {
  html {
    font-size: 11px;
  }
}

@media screen and (max-width: 899.98px) {
  html {
    font-size: 9px;
  }
}

@media screen and (max-width: 767.98px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 374.98px) {
  html {
    font-size: 13px;
  }
}

p {
  margin: 0;
}

ol, ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

html,
body {
  max-width: 100%;
  height: 100%;
}

body {
  font-family: 'TT Hoves';
  font-weight: normal;
  color: #18181B;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.header,
.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: relative;
  overflow: hidden;
}

.wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.container {
  width: 100%;
  max-width: 86.25rem;
  padding: 0 1.5625rem;
  margin: 0 auto;
}

/*# sourceMappingURL=critical.css.map */
