@charset "UTF-8";
@font-face {
  font-family: 'TT Hoves';
  src: url("../fonts/TTHoves/TTHoves-Bold.eot");
  src: local("TT Hoves Bold"), local("TTHoves-Bold"), url("../fonts/TTHoves/TTHoves-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TTHoves/TTHoves-Bold.woff2") format("woff2"), url("../fonts/TTHoves/TTHoves-Bold.woff") format("woff"), url("../fonts/TTHoves/TTHoves-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Hoves';
  src: url("../fonts/TTHoves/TTHoves-Regular.eot");
  src: local("TT Hoves Regular"), local("TTHoves-Regular"), url("../fonts/TTHoves/TTHoves-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TTHoves/TTHoves-Regular.woff2") format("woff2"), url("../fonts/TTHoves/TTHoves-Regular.woff") format("woff"), url("../fonts/TTHoves/TTHoves-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Hoves';
  src: url("../fonts/TTHoves/TTHoves-Medium.eot");
  src: local("TT Hoves Medium"), local("TTHoves-Medium"), url("../fonts/TTHoves/TTHoves-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/TTHoves/TTHoves-Medium.woff2") format("woff2"), url("../fonts/TTHoves/TTHoves-Medium.woff") format("woff"), url("../fonts/TTHoves/TTHoves-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* strong {
  font-weight: 900;
}

@media screen and (max-width: 575.98px) {
  .hide-phone-lg {
    display: none !important;
  }
}

@media screen and (min-width: 576px) {
  .show-phone-lg {
    display: none !important;
  }
}

@media screen and (max-width: 767.98px) {
  .hide-tablet {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .show-tablet {
    display: none !important;
  }
}

.nowrap {
  white-space: nowrap;
}

.hide {
  display: none !important;
}

.offset-header {
  padding-top: 8.75rem;
}

@media screen and (max-width: 767.98px) {
  .offset-header {
    padding-top: 3.75rem;
  }
}

.swiper-custom-button {
  width: 4rem;
  height: 4rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  outline: none;
  cursor: pointer;
}

.swiper-custom-button-prev {
  background-image: url("../img/icons/prev.svg");
}

.swiper-custom-button-next {
  background-image: url("../img/icons/next.svg");
}

/*-------------- header --------------*/
.your-journey {
  background: #18181B;
  padding-top: 7.5rem;
  padding-bottom: 14.5rem;
  overflow: hidden;
}

@media screen and (max-width: 767.98px) {
  .your-journey {
    padding-top: 5rem;
    padding-bottom: 5.625rem;
  }
}

.your-journey h2 {
  font-weight: 600;
  font-size: 3.75rem;
  line-height: 110%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 3.375rem;
}

@media screen and (max-width: 767.98px) {
  .your-journey h2 {
    margin-bottom: 1.5rem;
    font-size: 2.1875rem;
  }
}

.your-journey__head-img {
  width: 20.5625rem;
  margin-top: 0.625rem;
}

@media screen and (max-width: 767.98px) {
  .your-journey__head-img {
    max-width: 14.0625rem;
    width: 100%;
    margin-bottom: 3.75rem;
    margin-top: 0;
  }
}

.your-journey__cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767.98px) {
  .your-journey__cover {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

.your-journey__swiper {
  position: relative;
  padding-top: 0.625rem;
  padding-left: 6.875rem;
  counter-reset: section;
}

@media screen and (max-width: 767.98px) {
  .your-journey__swiper {
    padding-top: 0;
    padding-left: 0;
  }
}

.your-journey__swiper .swiper-container {
  max-width: 16.25rem;
}

@media screen and (max-width: 767.98px) {
  .your-journey__swiper .swiper-container {
    max-width: 19.375rem;
    margin: 0;
  }
}

@media screen and (max-width: 767.98px) {
  .your-journey__swiper .swiper-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767.98px) {
  .your-journey__swiper .swiper-slide:last-child > div {
    padding-bottom: 0;
  }
  .your-journey__swiper .swiper-slide:last-child > div:after {
    display: none;
  }
}

.your-journey__swiper .swiper-slide > * {
  opacity: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 1s;
       -o-transition-delay: 1s;
          transition-delay: 1s;
}

@media screen and (max-width: 767.98px) {
  .your-journey__swiper .swiper-slide > * {
    opacity: 1;
  }
}

.your-journey__swiper .swiper-slide-active > * {
  opacity: 1;
}

.your-journey__swiper[data-slide="left-1"] .your-journey__swiper-step-img {
  -webkit-transform: translate(1.7%, -98%);
      -ms-transform: translate(1.7%, -98%);
          transform: translate(1.7%, -98%);
}

.your-journey__swiper[data-slide="top-1"] .your-journey__swiper-step-img {
  -webkit-transform: translate(1.7%, -98%);
      -ms-transform: translate(1.7%, -98%);
          transform: translate(1.7%, -98%);
}

.your-journey__swiper[data-slide="left-2"] .your-journey__swiper-step-img {
  -webkit-transform: translate(-14.9%, -98%);
      -ms-transform: translate(-14.9%, -98%);
          transform: translate(-14.9%, -98%);
}

.your-journey__swiper[data-slide="top-2"] .your-journey__swiper-step-img {
  -webkit-transform: translate(-14.9%, -81.5%);
      -ms-transform: translate(-14.9%, -81.5%);
          transform: translate(-14.9%, -81.5%);
}

.your-journey__swiper[data-slide="left-3"] .your-journey__swiper-step-img {
  -webkit-transform: translate(-31.5%, -81.5%);
      -ms-transform: translate(-31.5%, -81.5%);
          transform: translate(-31.5%, -81.5%);
}

.your-journey__swiper[data-slide="top-3"] .your-journey__swiper-step-img {
  -webkit-transform: translate(-31.5%, -65%);
      -ms-transform: translate(-31.5%, -65%);
          transform: translate(-31.5%, -65%);
}

.your-journey__swiper[data-slide="left-4"] .your-journey__swiper-step-img {
  -webkit-transform: translate(-48.3%, -65%);
      -ms-transform: translate(-48.3%, -65%);
          transform: translate(-48.3%, -65%);
}

.your-journey__swiper[data-slide="top-4"] .your-journey__swiper-step-img {
  -webkit-transform: translate(-48.3%, -48.3%);
      -ms-transform: translate(-48.3%, -48.3%);
          transform: translate(-48.3%, -48.3%);
}

.your-journey__swiper[data-slide="left-5"] .your-journey__swiper-step-img {
  -webkit-transform: translate(-64.9%, -48.3%);
      -ms-transform: translate(-64.9%, -48.3%);
          transform: translate(-64.9%, -48.3%);
}

.your-journey__swiper[data-slide="top-5"] .your-journey__swiper-step-img {
  -webkit-transform: translate(-64.9%, -31.5%);
      -ms-transform: translate(-64.9%, -31.5%);
          transform: translate(-64.9%, -31.5%);
}

.your-journey__swiper[data-slide="left-6"] .your-journey__swiper-step-img {
  -webkit-transform: translate(-81.5%, -31.5%);
      -ms-transform: translate(-81.5%, -31.5%);
          transform: translate(-81.5%, -31.5%);
}

.your-journey__swiper[data-slide="top-6"] .your-journey__swiper-step-img {
  -webkit-transform: translate(-81.5%, -15%);
      -ms-transform: translate(-81.5%, -15%);
          transform: translate(-81.5%, -15%);
}

.your-journey__swiper-step {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

@media screen and (max-width: 767.98px) {
  .your-journey__swiper-step {
    display: none;
  }
}

.your-journey__swiper-step-img {
  position: absolute;
  width: 111.0625rem;
  height: 111.0625rem;
  background: url("../img/images/steps.svg") no-repeat 0 0/contain;
  left: 0;
  top: 0;
  -webkit-transform: translate(3.5%, -100%);
      -ms-transform: translate(3.5%, -100%);
          transform: translate(3.5%, -100%);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.your-journey__swiper-step-num {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: #FF824C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.625rem;
  line-height: 170%;
  text-align: center;
  color: #18181B;
  position: relative;
  z-index: 2;
}

.your-journey__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 7.5rem;
  max-width: 11.5625rem;
}

@media screen and (max-width: 767.98px) {
  .your-journey__nav {
    display: none;
  }
}

.your-journey__swiper-button {
  width: 4rem;
  height: 1.5rem;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  outline: none;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.your-journey__swiper-button-prev {
  background-image: url("../img/icons/prev.svg");
}

.your-journey__swiper-button-next {
  background-image: url("../img/icons/next.svg");
}

.your-journey .swiper-button-disabled {
  opacity: 0.2;
}

.your-journey-card {
  font-size: 1.125rem;
  line-height: 150%;
  color: #FFFFFF;
  position: relative;
}

@media screen and (max-width: 767.98px) {
  .your-journey-card {
    padding-left: 5rem;
    padding-top: 0.625rem;
    font-size: 0.875rem;
    padding-bottom: 3.4375rem;
  }
}

@media screen and (max-width: 767.98px) {
  .your-journey-card:before {
    counter-increment: section;
    /* Инкрементирует счетчик*/
    content: counter(section);
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 50%;
    background: #FF824C;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 0.875rem;
    line-height: 170%;
    text-align: center;
    color: #18181B;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
}

@media screen and (max-width: 767.98px) {
  .your-journey-card:after {
    content: "";
    display: block;
    width: 0.0625rem;
    height: 100%;
    background-color: #fff;
    position: absolute;
    left: 1.375rem;
    top: 0.625rem;
    z-index: 1;
  }
}

.your-journey-card h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 120%;
  margin-bottom: 4.0625rem;
}

@media screen and (max-width: 767.98px) {
  .your-journey-card h3 {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
  }
}

/*-------------- footer --------------*/

/*# sourceMappingURL=styles.css.map */
