@import "../_media.scss";

.your-journey {
  background: #18181B;
  padding-top: rem(120);
  padding-bottom: rem(232);
  overflow: hidden;

  @include tablets-down() {
    padding-top: rem(80);
    padding-bottom: rem(90);
  }
  
  h2 {
    font-weight: 600;
    font-size: rem(60);
    line-height: 110%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: rem(54);

    @include tablets-down() {
      margin-bottom: rem(24);
      font-size: rem(35);
    }
  }

  &__head-img {
    width: rem(329);
    margin-top: rem(10);

    @include tablets-down() {
      max-width: rem(225);
      width: 100%;
      margin-bottom: rem(60);
      margin-top: 0;
    }
  }

  &__cover {
    display: flex;
    justify-content: space-between;

    @include tablets-down() {
      flex-flow: column;
    }
  }

  &__swiper {
    position: relative;
    padding-top: rem(10);
    padding-left: rem(110);
    counter-reset: section;

    @include tablets-down() {
      padding-top: 0;
      padding-left: 0;
    }

    .swiper-container {
      max-width: rem(260);

      @include tablets-down() {
        max-width: rem(310);
        margin: 0;
      }
    }
    .swiper-wrapper {
      @include tablets-down() {
        flex-wrap: wrap;
      }
      
    }

    .swiper-slide {

      &:last-child {
        @include tablets-down() {
          > div {
            padding-bottom: 0;
            &:after {
              display: none;
            }
          }
        }
      }
      
      > * {
        opacity: 0;
        transition: 1s;
        transition-delay: 1s;

        @include tablets-down() {
          opacity: 1;
        }
      }
    }

    .swiper-slide-active {
      > * {
        opacity: 1;
      }
    }

    &[data-slide="left-1"] {
      .your-journey__swiper-step {
        &-img {
          transform: translate(1.7%, -98%);
        }
      }
    }

    &[data-slide="top-1"] {
      .your-journey__swiper-step {
        &-img {
          transform: translate(1.7%, -98%);
        }
      }
    }


    &[data-slide="left-2"] {
      .your-journey__swiper-step {
        &-img {
          transform: translate(-14.9%, -98%);
        }
      }
    }

    &[data-slide="top-2"] {
      .your-journey__swiper-step {
        &-img {
          transform: translate(-14.9%, -81.5%);
        }
      }
    }

    &[data-slide="left-3"] {
      .your-journey__swiper-step {
        &-img {
          transform: translate(-31.5%, -81.5%);
        }
      }
    }
    
    &[data-slide="top-3"] {
      .your-journey__swiper-step {
        &-img {
          transform: translate(-31.5%, -65%);
        }
      }
    }

    &[data-slide="left-4"] {
      .your-journey__swiper-step {
        &-img {
          transform: translate(-48.3%, -65%);
        }
      }
    }

    &[data-slide="top-4"] {
      .your-journey__swiper-step {
        &-img {
          transform: translate(-48.3%, -48.3%);
        }
      }
    }

    &[data-slide="left-5"] {
      .your-journey__swiper-step {
        &-img {
          transform: translate(-64.9%, -48.3%);
        }
      }
    }

    &[data-slide="top-5"] {
      .your-journey__swiper-step {
        &-img {
          transform: translate(-64.9%, -31.5%);
        }
      }
    }

    &[data-slide="left-6"] {
      .your-journey__swiper-step {
        &-img {
          transform: translate(-81.5%, -31.5%);
        }
      }
    }

    &[data-slide="top-6"] {
      .your-journey__swiper-step {
        &-img {
          transform: translate(-81.5%, -15%);
        }
      }
    }

   
  }

  &__swiper-step {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;

    @include tablets-down() {
      display: none;
    }
    
    &-img {
      position: absolute;
      width: rem(1777);
      height: rem(1777);
      background: url("../img/images/steps.svg") no-repeat 0 0 / contain;
      left: 0;
      top: 0;
      transform: translate(3.5%, -100%);
      transition: .5s;
    }
  }

  &__swiper-step-num {
    width: rem(64);
    height: rem(64);
    border-radius: 50%;
    background: #FF824C;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: rem(26);
    line-height: 170%;
    text-align: center;
    color: #18181B;
    position: relative;
    z-index: 2;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    margin-top: rem(120);
    max-width: rem(185);

    @include tablets-down() {
      display: none;
    }
  }

  &__swiper-button {
    width: rem(64);
    height: rem(24);
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    outline: none;
    transition: .5s;

    &-prev {
      background-image: url("../img/icons/prev.svg");
      
    }

    &-next {
      background-image: url("../img/icons/next.svg");
    }
  }

  .swiper-button-disabled {
    opacity: 0.2;
  }
}

.your-journey-card {
  font-size: rem(18);
  line-height: 150%;
  color: #FFFFFF;
  position: relative;

  @include tablets-down() {
    padding-left: rem(80);
    padding-top: rem(10);
    font-size: rem(14);
    padding-bottom: rem(55);
  }

  &:before {
    @include tablets-down() {
      counter-increment: section;                 /* Инкрементирует счетчик*/
      content: counter(section);
      width: rem(44);
      height: rem(44);
      border-radius: 50%;
      background: #FF824C;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: rem(14);
      line-height: 170%;
      text-align: center;
      color: #18181B;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }
  }

  &:after {
    @include tablets-down() {
      content: "";
      display: block;
      width: rem(1);
      height: 100%;
      background-color: #fff;
      position: absolute;
      left: rem(22);
      top: rem(10);
      z-index: 1;
    }
  }

  h3 {
    font-style: normal;
    font-weight: 500;
    font-size: rem(36);
    line-height: 120%;
    margin-bottom: rem(65);

    @include tablets-down() {
      font-size: rem(20);
      margin-bottom: rem(12);
    }
  }
}

